name: Build and Push Docker Image on Release

on:
  release:
    types: [published]  # Trigger when a new release is published

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ayush1136
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Release Tag
        id: vars
        run: echo "RELEASE_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ayush1136/jfrog-reporter:${{ env.RELEASE_TAG }}
          